<div class="container">
  <div class="row">
    <div class="col text-center">
      <img
        src="../img/pp.jpg"
        alt="profile-picture"
        class="img-thumbnail rounded-circle"
        width="100px"
      />
      <h1 class="display-4">Faikar Moch Tajudin</h1>
      <div class="lead">Mahasiswa</div>
    </div>
  </div>
</div>
